.header {
  height: 60px;
  background-color: #e3ecff6f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(8, 2, 93, 0.1);

  position: fixed;
  top: 0;
  left: 20px;
  right: 20px;
  z-index: 100;
}
.left-section,
.center-section,
.right-section,
.right-section-contain {
  display: flex;
  align-items: center;
}

.left-section {
  flex: 1;
}
.facebook-logo {
  height: 40px;
  margin-right: 15px;
  cursor: pointer;
}
.facebook-img {
  fill: #1919e1;
  height: 100%;
  border-radius: 50%;
}
.search {
  flex: 1 1 auto;
  max-width: 250px;
  min-width: 0;
  position: relative;        
}
.search-bar {
  flex: 1;
  width: 100%;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  height: 35px;
  padding-left: 38px;
  padding-right: 15px;
  background-color: #35355213;
  box-sizing: border-box;
}
.search-glace {
  position: absolute;
  color: #0806028c;
  top: 8px;
  left: 13px;
}

.center-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}
.center-section-contain {
  display: flex; 
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  gap: 60px;
}
.center-item,
.users-icons,
.reals,
.marketplace,
.gaming {
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.center-item-1 {
  fill: #1919e1;
}

.users-icon,
.reals,
.marketplace,
.gaming {
  fill: #000000b7;
  padding-top: 2px;
}



.right-section {
  flex: 1;
  justify-content: end;
}
.right-section-contain {  
  justify-content: space-between;
  gap: 15px;
}

.menu,
.messenger,
.notification {
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.244);
  border-radius: 50px;
  padding: 5px 10px 2px 12px;
  position: relative;
}
.menu-icon,
.messsenger-icon,
.notification-icon {
  height: 26px;
  width: 26px;
}