/*header style*/
.header {
  height: 60px;
  background-color: #f6f9ff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(8, 2, 93, 0.185);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 20px;
  z-index: 200;
}
.left-section,
.center-section,
.right-section,
.right-section-contain {
  display: flex;
  align-items: center;
}
.left-section,
.center-section,
.right-section {
  min-width: 0;
}

.left-section {
  flex: 1;
}
.facebook-logo {
  height: 40px;
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.facebook-img {
  fill: #1919e1;
  height: 100%;
  border-radius: 50%;
}
.search {
  max-width: 250px;
  min-width: 0;
  position: relative;        
}
.search-bar {
  flex: 1;
  width: 100%;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  height: 35px;
  padding-left: 38px;
  padding-right: 15px;
  background-color: #35355213;
  box-sizing: border-box;
}
.search-glace {
  position: absolute;
  color: #0806028c;
  top: 8px;
  left: 13px;
}

.center-section {
  flex: 1 1 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}
.center-section-contain {
  display: flex; 
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  gap: 25px;
}
.center-item,
.users-icons,
.reals,
.marketplace,
.gaming {
  height: 28px;
  width: 28px;
  cursor: pointer;
  padding: 6px 12px;
  
}
.center-item,
.users-icons,
.reals,
.marketplace,
.gaming,
.menu,
.messenger,
.notification,
.profil {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

.center-item:hover,
.users-icons:hover,
.reals:hover,
.marketplace:hover,
.gaming:hover,
.menu:hover,
.messenger:hover,
.notification:hover,
.profil:hover,
.facebook-logo:hover {
  transform: scale(1.05);
}

.users-icons:hover,
.reals:hover,
.marketplace:hover,
.gaming:hover {
  background-color: #0000001e;
  border-radius: 10px;
}

.tooltip {
  position: absolute;
  background-color: rgba(54, 53, 53, 0.874);
  box-shadow: 1px 2px 5px #0000003b;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  top: 50px;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity 0.3s;
  opacity: 0;
}
.center-item:hover .tooltip,
.users-icons:hover .tooltip,
.reals:hover .tooltip,
.marketplace:hover .tooltip,
.gaming:hover .tooltip,
.menu:hover .tooltip,
.messenger:hover .tooltip,
.notification:hover .tooltip,
.profil:hover .tooltip {
  opacity: 1;
}

.center-item-1 {
  fill: #1919e1;
}

.users-icon,
.reals,
.marketplace,
.gaming {
  fill: #000000b7;
}

.right-section {
  flex: 1;
  justify-content: end;
  flex: 0 0 auto;
}
.right-section-contain {  
  justify-content: space-between;
  gap: 15px;
}

.menu,
.messenger,
.notification {
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.139);
  border-radius: 50px;
  padding: 5px 10px 2px 12px;
  position: relative;
}
.menu-icon,
.messsenger-icon,
.notification-icon {
  height: 26px;
  width: 26px;
}
.menu:hover,
.messenger:hover,
.notification:hover {
  background-color: rgba(128, 128, 128, 0.441);
}

.profil {
  position: relative;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  cursor: pointer;
}
.profil-img {
  height: 100%;
  width: 100%;
  border-radius: 50px;
}


/*Responsive*/
@media (max-width: 900px) {
  .center-section-contain {
    display: none;
  }
}
@media (max-width: 1100px) {
  .search {
    width: 10px;
  }
}