.main-contain {
  background-color: #03091b;

  height: 1000px;

  padding-top: 80px;
  padding-left: 280px;
  padding-right: 320px;
  display: flex;
  justify-content: center;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 99;
}

.write {
  background-color: white;
  position: fixed;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  box-shadow: 1px 2px 8px rgba(128, 128, 128, 0.79);
  padding: 10px;
  cursor: pointer;

  right: 40px;
  bottom: 50px;

  z-index: 200px;
}
.write-icon {
  height: 100%;
  width: 100%;
}
.tooltip-w {
  position: absolute;
  background-color: rgba(54, 53, 53, 0.957);
  box-shadow: 1px 2px 5px #0000003b;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  
  bottom: 10px;
  right: 55px;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity 0.3s;
  opacity: 0;
}


.write:hover .tooltip-w {
  opacity: 1;
}

/*New container*/
.main-container {
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
  background-color: #bdbec2;
  height: 500px;
  width: 100%;

  padding-top: 0;

  gap: 20px;
}

.new-contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  grid-template-columns: 50px 1fr 200px;

  background-color: #fbfcff;
  box-shadow: 0 2px 3px rgba(33, 28, 104, 0.185);
  height: 60px;
  width: 100%;
  border: none;
  border-radius: 10px;

  gap: 10px;
}
.new-prof {
  height: 45px;
  width: 45px;
  margin-left: 15px;
}
.new-prof-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.new-search {
  position: relative;
  height: 40px;
  flex: 1;
}
.new-search-icon {
  height: 100%;
  width: 100%;
  padding-left: 15px;
  background-color: #f3f3f4;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
}


@media (max-width: 1100px) {
  .main-contain {
    padding-left: 50px;
  }
}

@media (max-width: 1000px) {
  .main-contain {
    padding-right: 50px;
  }
}


@media (max-width: 768px) {
  .main-contain {
    padding-left: 10px;
    padding-right: 10px;
  }
}

