.main-contain {
  background-color: #f0f0f3;

  height: 1000px;

  padding-top: 80px;
  padding-left: 280px;
  padding-right: 320px;
  display: flex;
  justify-content: center;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 99;
}

.write {
  background-color: white;
  position: fixed;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  box-shadow: 1px 2px 8px rgba(128, 128, 128, 0.79);
  padding: 10px;
  cursor: pointer;

  right: 40px;
  bottom: 50px;

  z-index: 200px;
}
.write-icon {
  height: 100%;
  width: 100%;
}
.tooltip-w {
  position: absolute;
  background-color: rgba(54, 53, 53, 0.957);
  box-shadow: 1px 2px 5px #0000003b;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  
  bottom: 10px;
  right: 55px;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity 0.3s;
  opacity: 0;
}


.write:hover .tooltip-w {
  opacity: 1;
}

/*New container*/
.main-container {
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
  background-color: #bdbec2;
  height: 500px;
  width: 100%;

  padding-top: 0;

  gap: 10px;
}

.new-contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  grid-template-columns: 50px 1fr 200px;

  background-color: #fbfcff;
  box-shadow: 0 2px 3px rgba(33, 28, 104, 0.185);
  height: 60px;
  width: 100%;
  border: none;
  border-radius: 10px;

  gap: 10px;
}
.new-prof {
  height: 45px;
  width: 45px;
  margin-left: 15px;
  cursor: pointer;
}
.new-prof-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.new-search {
  position: relative;
  height: 45px;
  flex: 1;
}
.new-search-icon {
  height: 100%;
  width: 100%;
  padding-left: 15px;
  background-color: #f3f3f4;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
}

.new-icons {
  display: flex;
  flex-direction: row;
  gap: 5px;

  height: 35px;

  margin-right: 15px;
}

.live,
.fil-img,
.reels-img {
  height: 100%;
  width: 35px;
  cursor: pointer;
}
.live-icon {
  fill: rgb(255, 0, 55);
}
.fil-icon {
  fill:rgb(38, 158, 38);
}
.reels-icon {
  fill: rgb(250, 72, 102);
}


.story-contain {
  display: flex;
  flex-direction: row;
  height: 220px;
  width: 100%;

  gap: 5px;
}

.story-profil {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f3f3f4;
  height: 100%;
  width: 132px;
  border-radius: 15px;
  box-shadow: 0 2px 3px rgba(33, 28, 104, 0.185);

  cursor: pointer;

  transition: transform 0.3s;
}

.pro-img {
  height: 150px;
  width: 100%;
}
.proo-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.plus-item {
  position: absolute;
  fill: blue;
  width: 45px;
  top: 127px;
  left: 45px;
}
.plus-img {
  border-radius: 50px;
  background-color: white;
}
.story-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}


.profil-1 {
  position: absolute;
  height: 40px;
  width: 40px;

  top: 5px;
  left: 5px;
}
.profl-img-1 {
  height: 100%;
  width: 100%;
  border: 3px solid blue;
  border-radius: 50%;
  object-fit: cover;
}

.story-profil:hover {
  transform: scale(1.02);
}
.profl-img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  height: 220px;
  object-fit: cover;
  opacity: calc(0.9);
}

.story-text-st {
  position: absolute;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: rgba(29, 29, 29, 0.564);
  box-shadow: 0 0 5px #21212234;
  font-weight: 500;
  padding: 10px;

  left: 0;
  bottom: 0;
  right: 0;

  border-radius: 0 0 15px 15px;
}

@media (max-width: 1100px) {
  .main-contain {
    padding-left: 50px;
  }
}

@media (max-width: 1000px) {
  .main-contain {
    padding-right: 50px;
  }
}


@media (max-width: 768px) {
  .main-contain {
    padding-left: 10px;
    padding-right: 10px;
  }
}

