.main-contain {
  background-color: #f0f0f3;


  padding-top: 80px;
  padding-left: 280px;
  padding-right: 320px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 99;
}

.write {
  background-color: white;
  position: fixed;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  box-shadow: 1px 2px 8px rgba(128, 128, 128, 0.79);
  padding: 10px;
  cursor: pointer;

  right: 40px;
  bottom: 50px;

  z-index: 200px;
}
.write-icon {
  height: 100%;
  width: 100%;
}
.tooltip-w {
  position: absolute;
  background-color: rgba(54, 53, 53, 0.957);
  box-shadow: 1px 2px 5px #0000003b;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  
  bottom: 10px;
  right: 55px;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity 0.3s;
  opacity: 0;
}


.write:hover .tooltip-w {
  opacity: 1;
}

/*New container*/
.main-container {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  margin: 20px 40px;
  width: 450px;

  padding-top: 0;

  gap: 10px;
}

.new-contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  grid-template-columns: 50px 1fr 200px;

  background-color: #feffff;
  box-shadow: 0 2px 3px rgba(33, 28, 104, 0.185);
  height: 60px;
  width: 100%;
  border: none;
  border-radius: 10px;

  gap: 10px;
}
.new-prof {
  height: 45px;
  width: 45px;
  margin-left: 15px;
  cursor: pointer;
}
.new-prof-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.new-search {
  position: relative;
  height: 45px;
  flex: 1;
}
.new-search-icon {
  height: 100%;
  width: 100%;
  padding-left: 15px;
  background-color: #f3f3f4;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
}

.new-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;

  height: 35px;

  margin-right: 15px;
}

.live,
.fil-img,
.reels-img {
  border-radius: 5px;
  height: 100%;
  width: 35px;
  cursor: pointer;
  transition: transform 0.3s;
}
.live:hover,
.fil-img:hover,
.reels-img:hover {
  transform: scale(1.1);
}


.live-icon {
  fill: rgb(255, 0, 55);
}
.fil-icon {
  fill:rgb(38, 158, 38);
}
.reels-icon {
  fill: rgb(250, 72, 102);
}


.story-contain {
  display: flex;
  flex-direction: row;
  height: 220px;
  width: 100%;

  gap: 5px;
}

.story-profil {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #feffff;
  height: 100%;
  width: 132px;
  border-radius: 15px;
  box-shadow: 0 2px 3px rgba(33, 28, 104, 0.185);

  cursor: pointer;

  transition: transform 0.3s;
}

.pro-img {
  height: 150px;
  width: 100%;
}
.proo-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.plus-item {
  position: absolute;
  fill: blue;
  width: 45px;
  top: 127px;
  left: 32px;
}
.plus-img {
  border-radius: 50px;
  background-color: #feffff;
}
.story-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}


.profil-1 {
  position: absolute;
  height: 40px;
  width: 40px;

  top: 5px;
  left: 5px;
}
.profl-img-1 {
  height: 100%;
  width: 100%;
  border: 3px solid blue;
  border-radius: 50%;
  object-fit: cover;
}

.story-profil:hover {
  transform: scale(1.02);
}
.profl-img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  height: 220px;
  object-fit: cover;
  opacity: calc(0.9);
}

.story-text-st {
  position: absolute;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: rgba(29, 29, 29, 0.564);
  box-shadow: 0 0 5px #21212234;
  font-weight: 500;
  padding: 10px;

  left: 0;
  bottom: 0;
  right: 0;

  border-radius: 0 0 15px 15px;
}


.post-contain {
  display: flex;
  flex-direction: column;
  background-color: #27129a;
  height: 630px;
  width: 100%;
  border-radius: 10px;

  box-shadow: 1px 2px 3px rgba(44, 44, 44, 0.555);
}
.post-header {
  display: flex;
  flex-direction: row;
  grid-template-columns: 50px 1fr 100px;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: #feffff;

  border-radius: 10px 10px 0 0;
  gap: 5px;
}
.prof-post {
  height: 45px;
  width: 45px;
  margin-left: 8px;
  cursor: pointer;
}
.prof-post-img {
  height: 100%;
  width: 100%;
  border-radius: 500px;
  object-fit: cover;
}
.prof-info {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;

  flex: 1;
}
a {
  color: black;
  cursor: pointer;
}
.prof-name {
  font-size: 16px;
  font-weight: 500;
}
.prost-date {
  font-size: 12px;
  font-weight: 600;
  color: rgb(104, 104, 104);
}


.post-option {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.post-ops,
.post-cross {
  height: 30px;
  width: 30px;
  fill: gray;
  cursor: pointer;
  transition: background-color 0.5s;
  border-radius: 10px;
}
.post-ops:hover,
.post-cross:hover {
  background-color: #bdbec263;
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

.post-descrip {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  background-color: #feffff;
  padding-left: 8px;
}

.post-picture {
  height: 450px;
  width: 100%;
}
.post-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.post-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #feffff;
  height: 80px;
  width: 100%;
  border-radius: 0 0 10px 10px;
}
.post-emojies {
  display: flex;
  flex-direction: row;
}


.like-data1,
.like-data {
  position: absolute;
  padding: 2px;
  height: 15px;
  width: 15px;
  top: 8px;
  cursor: pointer;
}
.like-data {  
  left: 8px;

  background-color: blue;
  border: 1px solid #fbfcff;
  border-radius: 50%;
  fill: #fbfcff;
}
.like-data1 {
  left: 22px;

  background-color: rgb(245, 61, 61);
  border-radius: 50%;
  fill: #fbfcff;
}
.emoj-data {
  position: absolute;
  top: 8px;
  left: 45px;
  font-weight: 500;
  color: rgb(91, 91, 91);
  cursor: pointer;
}

.footer-items {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 34px;

  grid-template-columns: 1fr 1fr 1fr;
}
.like-item,
.comment-item,
.share-item {
  height: 30px;
  width: 30px;
  padding: 2px 25px;
  border-radius: 10px;
  fill: rgb(108, 108, 108);
  cursor: pointer;
  transition: background-color 0.3s;

  position: relative;
}

.footer-text {
  position: absolute;
  top: 9;
  left: 60px;
  color: rgb(64, 64, 64);
  font-weight: 500;
}

.like-item:hover,
.comment-item:hover,
.share-item:hover {
  background-color: rgba(159, 158, 158, 0.103);
}


.like-item {
  margin-left: 20px;
}
.share-item {
  margin-right: 20px;
}

@media (max-width: 1100px) {
  .main-contain {
    padding-left: 50px;
  }
}

@media (max-width: 1000px) {
  .main-contain {
    padding-right: 50px;
  }
}


@media (max-width: 768px) {
  .main-contain {
    padding-left: 10px;
    padding-right: 10px;
  }
}

